.sidebar{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    grid-row: 1/3;
}

.icon{
    margin-top: 25%;
    width: 30%;
    border-radius: 50%;
}
.sidebar h2.user-name{
    margin-top: 16px;
    font-weight: 700;
    font-size: 20px;
    color: #727272;
}
.sidebar p{
    margin-top: 6;
    font-weight: 400;
    font-size: 14px;
    color: #727272;
}
.sidebar h1{
    margin-left: 20%;
    align-self: flex-start;
    font-size: 18px;
    color: #6a6a6a;
    padding: 10px;
}
.sidebar h1.dashboard-link{
    margin-top: 59px;
    font-weight: 400;   /*700 se está nele*/
}
.sidebar h1.courses-link{
    margin-top: 35px;
    font-weight: 400;
}
.sidebar h1:hover{
    font-weight: 700;
}
a{
    display: contents;
    text-decoration: none;
}


@media only screen and (max-width: 600px){
    
    .sidebar{
        display: none;
    }
}