*{
  margin: 0;
  padding: 0;
}
.App{
  height: 100vh;
  background-color: white;
  display:grid;
  grid-template-columns: 20% 80%;
}


@media only screen and (max-width: 600px){
    .App{
      grid-template-columns: 1fr;


    }
}