.courses{
    margin: 5% auto;
    width: 85%;
    padding: 0 3%;
}
.courses h1{
    font-weight: 600;
    font-size: 26px;
    color: #555;
    margin-bottom: 12px;
}

.content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 5%;
}