.courses {
  margin: 5% auto;
  width: 85%;
  padding: 0 3%;
}
.courses h1 {
  font-weight: 600;
  font-size: 26px;
  color: #555;
  margin-bottom: 12px;
}

.courses .content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 5%;
}
.courses .content a {
  text-decoration: none;
}
.courses .content div:hover {
  box-shadow: 0 0 10px rgb(73, 73, 73), 0 0 5px rgb(186, 186, 187);
}
@media only screen and (max-width: 600px) {
  .courses {
    width: 100%;
    margin: 0;
    padding-top: 100px;
  }
  .courses .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
