.course {
  margin: 5% auto;
  padding: 0 3%;
  width: 85%;
}
.course h1 {
  font-weight: 600;
  font-size: 26px;
  color: #555;
  margin-bottom: 12px;
}
.course .summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
  margin-top: 20px;
}
.course .summary div {
  min-width: 0;
}
.course .info {
  display: flex;
  justify-content: space-between;
}
.course .course-info {
  font-weight: 600;
}
.course .course-info h1 {
  margin: 0;
}
.course .course-info p {
  font-size: 14px;
  color: #737373;
}
.course .teacher {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 30% 70%;
  grid-template-areas: 'avatar name';
}
.course .teacher div {
  margin-left: 15px;
  grid-row: 1/3;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.course .teacher img {
  width: 54px;
  border-radius: 50%;
  grid-area: avatar;
  justify-self: center;
}
.course .teacher h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.course .teacher p {
  font-size: 14px;
  font-weight: 400;
}

.course .tasks {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 5%;
}
@media only screen and (max-width: 600px) {
  .course {
    width: 100%;
    margin: 0;
    padding-top: 100px;
  }
  .course .teacher img {
    width: 40px;
  }
  .course .summary {
    grid-template-columns: repeat(2, 1fr);
  }
  .course .summary div:nth-child(3) {
    transform: translateX(50%);
  }
  .course h1 {
    font-size: 18px;
  }
  .course .teacher h2 {
    font-size: 16px;
  }
  .course .teacher p {
    font-size: 14px;
  }
  .course .tasks {
    grid-template-columns: repeat(2, 1fr);
  }
  .course .course-info p {
    font-size: 12px;
  }
}
